<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트로 시작하는 웹 서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>스부링부트로 시작하는 웹 서비스 Ver.2</h1>
<h1>spring boot</h1>
{{#page}}
    <b>{{link}}</b>
{{/page}}
</body>
</html>